# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
tempCodeRunnerFile.py
临时文件
tkintertools-docs-main/3.0/星茶会.mp3
tkintertools-docs-main/3.0/index.md
tkintertools-docs-main/3.0/logo.png
tkintertools-docs-main/3.0/mkdocs.yml
tkintertools-docs-main/3.0/tags.md
tkintertools-docs-main/3.0/documents/index.md
tkintertools-docs-main/3.0/documents/animation/animations.md
tkintertools-docs-main/3.0/documents/animation/controllers.md
tkintertools-docs-main/3.0/documents/animation/index.md
tkintertools-docs-main/3.0/documents/color/colormap.md
tkintertools-docs-main/3.0/documents/color/hsl.md
tkintertools-docs-main/3.0/documents/color/index.md
tkintertools-docs-main/3.0/documents/color/rgb.md
tkintertools-docs-main/3.0/documents/core/configs.md
tkintertools-docs-main/3.0/documents/core/containers.md
tkintertools-docs-main/3.0/documents/core/index.md
tkintertools-docs-main/3.0/documents/core/virtual.md
tkintertools-docs-main/3.0/documents/media/icons.md
tkintertools-docs-main/3.0/documents/media/index.md
tkintertools-docs-main/3.0/documents/media/main.md
tkintertools-docs-main/3.0/documents/mpl/_constants.md
tkintertools-docs-main/3.0/documents/mpl/index.md
tkintertools-docs-main/3.0/documents/mpl/main.md
tkintertools-docs-main/3.0/documents/standard/dialogs.md
tkintertools-docs-main/3.0/documents/standard/features.md
tkintertools-docs-main/3.0/documents/standard/images.md
tkintertools-docs-main/3.0/documents/standard/index.md
tkintertools-docs-main/3.0/documents/standard/shapes.md
tkintertools-docs-main/3.0/documents/standard/texts.md
tkintertools-docs-main/3.0/documents/standard/widgets.md
tkintertools-docs-main/3.0/documents/style/index.md
tkintertools-docs-main/3.0/documents/style/manager.md
tkintertools-docs-main/3.0/documents/style/parser.md
tkintertools-docs-main/3.0/documents/theme/dark.md
tkintertools-docs-main/3.0/documents/theme/index.md
tkintertools-docs-main/3.0/documents/theme/light.md
tkintertools-docs-main/3.0/documents/three/engine.md
tkintertools-docs-main/3.0/documents/three/geometries.md
tkintertools-docs-main/3.0/documents/three/index.md
tkintertools-docs-main/3.0/documents/toolbox/enhanced.md
tkintertools-docs-main/3.0/documents/toolbox/index.md
tkintertools-docs-main/3.0/documents/toolbox/tools.md
tkintertools-docs-main/3.0/overrides/main.html
tkintertools-docs-main/3.0/overrides/partials/comments.html
tkintertools-docs-main/3.0/overrides/partials/content.html
tkintertools-docs-main/3.0/overrides/partials/header.html
tkintertools-docs-main/3.0/practices/index.md
tkintertools-docs-main/3.0/tutorials/index.md
tkintertools-docs-main/3.0/tutorials/chapter_01/1.md
tkintertools-docs-main/3.0/tutorials/chapter_01/2.md
tkintertools-docs-main/3.0/tutorials/chapter_01/3.md
tkintertools-docs-main/3.0/tutorials/chapter_01/index.md
tkintertools-docs-main/3.0/tutorials/chapter_01/images/2-1-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_01/images/2-1-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_01/images/2-1.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_01/images/2-1.light.png
tkintertools-docs-main/3.0/tutorials/chapter_02/1.md
tkintertools-docs-main/3.0/tutorials/chapter_02/2.md
tkintertools-docs-main/3.0/tutorials/chapter_02/index.md
tkintertools-docs-main/3.0/tutorials/chapter_02/images/1-1.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_02/images/1-1.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/1.md
tkintertools-docs-main/3.0/tutorials/chapter_03/2.md
tkintertools-docs-main/3.0/tutorials/chapter_03/3.md
tkintertools-docs-main/3.0/tutorials/chapter_03/index.md
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-1.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-1.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-2.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-2.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-3-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-3-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-3.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-3.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-4-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-4-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-4.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-4.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-5-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-5-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-5.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-5.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-6-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-6-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-6.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/1-6.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-1-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-1-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-1.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-1.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-2-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-2-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-2.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-2.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-3-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-3-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-3.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-3.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-4-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-4-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-4.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-4.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-5-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-5-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-5.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-5.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-6-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-6-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-6.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-6.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-7-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-7-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-7.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-7.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-8.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-8.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-9.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-9.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-10-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-10-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-11-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-11-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-11.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/2-11.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-1-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-1-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-1.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-1.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-2-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-2-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-2.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-2.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-3-win10.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-3-win10.light.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-3.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_03/images/3-3.light.png
tkintertools-docs-main/3.0/tutorials/chapter_04/1.md
tkintertools-docs-main/3.0/tutorials/chapter_04/2.md
tkintertools-docs-main/3.0/tutorials/chapter_04/3.md
tkintertools-docs-main/3.0/tutorials/chapter_04/index.md
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-1.dark.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-1.light.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-2.dark.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-2.light.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-3.dark.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-3.light.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-4.dark.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-4.light.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-5.dark.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-5.light.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-6.dark.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-6.light.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-7.dark.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-7.light.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-8.dark.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-8.light.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-9.dark.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/1-9.light.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/2-1.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_04/images/2-1.light.png
tkintertools-docs-main/3.0/tutorials/chapter_04/images/2-2.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_04/images/2-2.light.png
tkintertools-docs-main/3.0/tutorials/chapter_04/images/2-3.dark.png
tkintertools-docs-main/3.0/tutorials/chapter_04/images/2-3.light.png
tkintertools-docs-main/3.0/tutorials/chapter_04/images/2-4.dark.gif
tkintertools-docs-main/3.0/tutorials/chapter_04/images/2-4.light.gif
tkintertools-docs-main/3.0/tutorials/chapter_05/index.md
tkintertools-docs-main/3.0/tutorials/images/0-1.dark.png
tkintertools-docs-main/3.0/tutorials/images/0-1.light.png
